

.list-group input[type="radio"] {
display: none;
}
.list-group-input[type="radio"] + .list-group-item {
    cursor: all-scroll;
}

.list-group-input[type="radio"] + .list-group-item::before {
    color: transparent;
    font-weight: bold;
    margin-right: 1em;
}

.list-group input[type="radio"]:checked + .list-group-item {
    background-color: #0275D8;
    color: #FFF;
  }
  
  .list-group input[type=value"radio"]:checked + .list-group-item:before {
    color: inherit;
  }
  
    
    .list-group:hover{
  transform: scale(1.03);
  }



