p {
  color: red;
}

body {
  background-color: rgb(0, 0, 0) ;
  color: green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  color: green;
  width: 500px;
  border: 1px solid black;
}
h1 {
  color: blue;
}

.meineTabelle {
  color: aquamarine;
}

.nextTest {
  color: red;
}

.hi {
  color: blue;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  width: 400px;
  padding: 10px;

}

.center2 {
width:800px;
margin: auto
}

table, th, td {
  border: 2px solid rgb(47, 0, 255);
  border-collapse: collapse ;
} 
th, td {
  background-color:rgb(255, 255, 255) ;
}

.button {
  background-color: rgb(24, 147, 255);
  color: rgb(255, 255, 255);
  width: 200px;
  padding: 15px 50px;
  margin: 40px 190px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 200px;
  display: inline-block;
  text-align: center;

}

.button:hover {
  background-color: rgb(133, 195, 250);

}

.button:active {
  background-color: rgb(221, 235, 248);

}

section {
  text-align: center;
}

c {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid blueviolet;
  background: purple;
  color: aliceblue;
  box-shadow: 2px 2px 4px rebeccapurple;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  padding: 8px;

}  

d {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid blueviolet;
  background: purple;
  color: aliceblue;
  box-shadow: 2px 2px 4px rebeccapurple;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  padding: 8px;

}  
  
/* Buttons */


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');




.Antworten {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0, 0, 0);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

a {
    position: center;
    padding: 25px 30px;
    display: inline-block;
    margin: 40px 0;
    color: aqua;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

button {
    background-color: rgba(0, 136, 255, 0);
    border-color: #ffffff00;
    cursor: pointer;
}

a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }}

a span:nth-child(5) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#f40303);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate5 
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03a8f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
