p {
  color: red;
}

body {
  background-color: rgb(43, 40, 40) ;
  color: green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  color: green;
  width: 500px;
  border: 1px solid black;
}
h1 {
  color: blue;
}

.meineTabelle {
  color: aquamarine;
}

.nextTest {
  color: red;
}

.hi {
  color: blue;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  width: 400px;
  padding: 10px;

}

.center2 {
width:800px;
margin: auto
}

table, th, td {
  border: 2px solid rgb(47, 0, 255);
  border-collapse: collapse ;
} 
th, td {
  background-color:rgb(255, 255, 255) ;
}

.button {
  background-color: rgb(24, 147, 255);
  color: rgb(255, 255, 255);
  width: 200px;
  padding: 15px 50px;
  margin: 40px 190px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 200px;
  display: inline-block;
  text-align: center;

}

.button:hover {
  background-color: rgb(133, 195, 250);

}

.button:active {
  background-color: rgb(221, 235, 248);

}

section {
  text-align: center;
}

c {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid blueviolet;
  background: purple;
  color: aliceblue;
  box-shadow: 2px 2px 4px rebeccapurple;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  padding: 8px;

}  

d {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid blueviolet;
  background: purple;
  color: aliceblue;
  box-shadow: 2px 2px 4px rebeccapurple;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  padding: 8px;

}  
  
